.search-box{
    text-align: right;
}
.search-box .ipt-box{
    position: relative;
   
}
.search-box input.search-ipt{
    box-sizing: border-box;
    width:240px;
    padding:8px 10px;
}
.search-box .all-search{
    position: absolute;
    right:10px;
    top:8px;
}
.username .layui-nav-more{
    left:172px;
    background-image: url(../imgs/icon.png);
    background-position:-178px -8px;
}
.c-s-line{
    display:block;
    position: absolute;
    right:81px;
    top:14px;
    width:1px;
    height:36px;
    background: rgb(230, 228, 228);
}